.comingsoon-div {
    height: calc(100vh - 56px);
    width: 100%;
    position: relative;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 10px 10px 10px;
    color: $white;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000c2;
        width: 100%;
        height: 100%;
    }

    .coming-content {
        position: absolute;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
        width: 85%;
        z-index: 9;
    }

    h4 {
        font-family: 'Press Start 2P', cursive;
        color: $green;
        line-height: 49px;
        font-size: 34px;
    }

    h1 {
        font-family: 'Press Start 2P', cursive;
        font-size: 70px;
    }
}

.left-cartoon {
    width: 46%;
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 50px;
    @include flex-item-start;
}

.right-cartoon {
    width: 46%;
    z-index: 99;
    position: absolute;
    bottom: 0;
    right: 40px;
    @include flex-item-start;
    justify-content: flex-end !important;
}

.comment-box {
    position: absolute;
    background-color: #000000;
    padding: 15px;
    line-height: 23px;
    border: 4px solid;
    border-color: #19cb58;
    font-size: 14px;
    width: 550px;
    font-family: "IBM Plex Mono", monospace;
    right: 0;
    bottom: 100px;

}

.comment-box2 {
    &::after {
        content: '';
        position: absolute;
        border-top: 25px solid transparent;
        border-right: 45px solid $black;
        border-bottom: 0 solid transparent;
        left: -42px;
        top: 19px;
        transform: rotate(-13deg);
    }

    &::before {
        content: '';
        position: absolute;
        border-top: 34px solid transparent;
        border-right: 50px solid #19cb58;
        border-bottom: 0 solid transparent;
        left: -52px;
        transform: rotate(-8deg);
        top: 16px;
    }
}

.comment-box3 {
    left: 0;
    bottom: 100px;

    &::after {
        content: '';
        position: absolute;
        border-top: 0px solid transparent;
        border-left: 44px solid #000000;
        border-bottom: 27px solid transparent;
        right: -40px;
        bottom: 15px;
        transform: rotate(-8deg);
    }

    &::before {
        content: '';
        position: absolute;
        border-top: 0px solid transparent;
        border-left: 50px solid #19cb58;
        border-bottom: 34px solid transparent;
        right: -52px;
        bottom: 13px;
        transform: rotate(-8deg);
    }
}


.hover-content {
    display: inline;
    position: relative;
    cursor: pointer;

    .mark-content {
        position: absolute;
        line-height: 18px;
        font-size: 11px;
        width: 300px;
        background-color: $black;
        padding: 10px;
        text-align: left;
        right: -20px;
        bottom: 10px;
        box-shadow: $shadow;
        display: none;
    }

    &:hover {
        .mark-content {
            display: block;
        }
    }
}


// .left-cartoon img {
//     width: 200px;
// }
// .right-cartoon img {
//     width: 200px;
// }

.fund-row2 p {
    background-color: #2a7adc !important;
}