h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
figure,
ul {
  margin-bottom: 0;
}
p {
  font-weight: 300;
}
.img-size {
  width: 100%;
  height: 100%;
}
.container-1440 {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 15px;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.img-responsive {
  width: 100%;
}
.bg-grey {
  background: #222222;
}
.bg-transparent {
  background: transparent !important;
}
body {
  top: 0;
  left: 0;
  color: $white;
  background-color: $bg;
  overflow-x: hidden;
  // font-family: 'Press Start 2P', cursive;
  // font-family: 'IBM Plex Mono', monospace;
  padding-top: 56px;
}
.borderTop {
  border-top: 1px solid #000;
}
.borderAll {
  border: 1px solid #000;
}
.border-bottom0 {
  border-bottom: 0;
}
.hide {
  display: none;
}
.wallet_card {
  background-color: #343434;
  padding: 15px;
  @include flex-center;
  min-height: 270px;
  cursor: pointer;
  &:hover {
    box-shadow: $shadow;
  }
  p {
    font-size: $font-14;
    font-weight: $font-bold;
    font-family: "IBM Plex Mono", monospace;
  }
}

a.btn.wallet_drop {
  border: none;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: $font-14;
  color: $white;
  height: auto;
}

.my-collaction h2 {
  font-size: $font-24;
  font-family: "Press Start 2P", cursive;
}
.my-collaction p {
  font-size: $font-18;
  font-family: "IBM Plex Mono", monospace;
  padding: 0 100px;
  a {
    color: $green;
  }
}
.collaction_div {
  background-color: #343434;
  // padding: 15px;
  cursor: pointer;
  button {
    min-width: 150px !important;
  }
  label {
    font-size: $font-14;
    font-family: "IBM Plex Mono", monospace;
  }
  span {
    font-size: $font-12;
    color: $green;
    font-family: "IBM Plex Mono", monospace;
  }
  &:hover {
    box-shadow: $shadow;
  }
  .collaction_div1 {
    @include flex-center;
    height: 300px;
    img {
      width: 100%;
      height: 300px;
    }
  }
  .collaction_div2 {
    padding: 15px;
  }
  .qustion_mark {
    width: 80px;
    height: 80px;
    border: 3px solid $green;
    @include flex-center;
    font-size: 30px;
    font-family: "Press Start 2P", cursive;
  }
}

.input_bar {
  margin-left: 50px;
  font-size: $font-16;
  font-family: "IBM Plex Mono", monospace;
  span {
    padding-left: 12px;
    border-left: 1px solid #313131;
    margin-left: 12px;
  }
}
.comingsoon {
  @include flex-center;
  flex-direction: column;
}
